.sidebar {
    width: 20%;
    height: 100%;
    background-color: #f0f0f0;
    position: fixed;
    right: 0;
    z-index: 100;
    border: 1px solid #bebebe;
    transition: transform 0.5s ease-in-out; 
  }

  .backBtn{
    border: none;
    cursor: pointer;
    margin: 0.5rem;

  }
  
  .open {
    transform: translateX(0); /* Sidebar starts from left */
  }
  
  .close {
    transform: translateX(100%); /* Sidebar moves to left (offscreen) */
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid #bebebe;
    border-top: 1px solid #bebebe;
  }
  
  .label {
    color: #8e7ee8;
    margin-bottom: 0.5rem;
  }
  
  .textArea {
    height: 100px;
    border-radius: 5px;
    padding: 0.5rem;
  }
  
  .saveButton {
    border: 1px solid #3a4bcd;
    color: #fff;
    padding: 0.25rem 0.5rem;
    background-color: #3a4bcd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
    width: 100%;
  }
  